@charset "UTF-8";

/*--------------------------------------------------
  모듈
  - 재사용 가능한 유틸리티 CSS 모음입니다.
  - 여러 차례 반복해서 사용될 항목만 모아놓습니다.
--------------------------------------------------*/

/* 플로트 클리어링 */
.group {
    @include clearfix;
}

/* 스타일링을 제거한 목록 */
.list_unstyled {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* 인라인 목록 */
.list_inline {
    margin: 0;
    padding: 0;
    font-size: 0;

    > li {
        display: inline-block;
        @include text-scale(0);
    }
}

/* 플루이드 이미지 */
.img_fluid {
    display: block;
    max-width: 100%;
    height: auto;
}

/* 프리포맷된 폼 관련 요소 */
input.styled,
button.styled,
select.styled {
    background: white;
    border: 1px solid $ui-border-color;
    @include border-radius($radius);
    color: $base-font-color;
    display: inline-block;
    height: 32px;
    margin: 0;
    padding: 0 6px;
    line-height: 32px;
    text-align: left;
    @include text-scale(1);
    font-family: inherit;
    white-space: nowrap;
}

input.styled,
button.styled {
    @include appearance(none);
}

input.shadow {
    box-shadow: inset 0 1px 1px rgba(0,0,0, .055);
}

input.radio,
input.checkbox {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: .1em;
}

.select_overflow {
    max-height: 25em;
}


/* 사운드리더 전용: Bootstrap에서 차용 */
.sr_only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.image_fix {
    line-height: 0;
}

.btn {
    display: inline-block;
    @include text-scale(1);
    line-height: 17px;
    padding: 5px 6px 8px;
    text-align: center;
    background: white;
    color: $base-font-color;
    border: 1px solid $ui-border-color;
    @include border-radius($radius);
    cursor: pointer;

    &:hover,
    &:focus {
        text-decoration: none;
    }
}

/* 라디오 버튼 커스터마이징 */
.radio {
    display: none !important;

    + label {
        display: inline-block;
        height: 30px;
        line-height: 30px;
        padding-left: 22px;
        position: relative;
        cursor: pointer;
        @include text-scale(1);
        color: $base-font-color;

        &:before,
        &:after {
            content: "";
            display: inline-block;
            position: absolute;
            @include border-radius(50%);
        }

        &:before {
            width: 16px;
            height: 16px;
            top: 7px;
            left: 0;
            border: 2px solid #babcbf;
        }

        &:after {
            width: 6px;
            height: 6px;
            top: 12px;
            left: 5px;
        }

        &:not(:first-of-type) {
            margin-left: 8px;
        }
    }

    &.active + label {
        &:before {
            border-color: $accent;
        }

        &:after {
            background: $accent;
        }
    }

    &.disabled + label {
        @include opacity(.5);
    }
}

/* 날씨 아이콘 */
.meteo {
    display: inline-block;
    background: {
        attachment: scroll;
        position: 0 0;
        repeat: no-repeat;
    }

    &.clear {
        background-image: url(../img/weather/sun.png);
        background-image: url(../img/weather/sun.svg), none;
    }
    &.cloudy {
        background-image: url(../img/weather/cloudy.png);
        background-image: url(../img/weather/cloudy.svg), none;
    }
    &.cloudy2 {
        background-image: url(../img/weather/cloud2.png);
        background-image: url(../img/weather/cloud2.svg), none;
    }
    &.rainy {
        background-image: url(../img/weather/rainy.png);
        background-image: url(../img/weather/rainy.svg), none;
    }
    &.snowy {
        background-image: url(../img/weather/snowy.png);
        background-image: url(../img/weather/snowy.svg), none;
    }
    &.lightning {
        background-image: url(../img/weather/lightning.png);
        background-image: url(../img/weather/lightning.svg), none;
    }
    &.haily {
        background-image: url(../img/weather/hail.png);
        background-image: url(../img/weather/hail.svg), none;
    }
}

/* 풍향 아이콘 */
.wind_dir {
    display: inline-block;
    background: {
        attachment: scroll;
        position: 0 0;
        repeat: no-repeat;
    }

    &.n {
        background-image: url(../img/wind/n.png);
        background-image: url(../img/wind/n.svg), none;
    }
    &.nne {
        background-image: url(../img/wind/nne.png);
        background-image: url(../img/wind/nne.svg), none;
    }
    &.ne {
        background-image: url(../img/wind/ne.png);
        background-image: url(../img/wind/ne.svg), none;
    }
    &.ene {
        background-image: url(../img/wind/ene.png);
        background-image: url(../img/wind/ene.svg), none;
    }
    &.e {
        background-image: url(../img/wind/e.png);
        background-image: url(../img/wind/e.svg), none;
    }
    &.ese {
        background-image: url(../img/wind/ese.png);
        background-image: url(../img/wind/ese.svg), none;
    }
    &.se {
        background-image: url(../img/wind/se.png);
        background-image: url(../img/wind/se.svg), none;
    }
    &.sse {
        background-image: url(../img/wind/sse.png);
        background-image: url(../img/wind/sse.svg), none;
    }
    &.s {
        background-image: url(../img/wind/s.png);
        background-image: url(../img/wind/s.svg), none;
    }
    &.ssw {
        background-image: url(../img/wind/ssw.png);
        background-image: url(../img/wind/ssw.svg), none;
    }
    &.sw {
        background-image: url(../img/wind/sw.png);
        background-image: url(../img/wind/sw.svg), none;
    }
    &.wsw {
        background-image: url(../img/wind/wsw.png);
        background-image: url(../img/wind/wsw.svg), none;
    }
    &.w {
        background-image: url(../img/wind/w.png);
        background-image: url(../img/wind/w.svg), none;
    }
    &.wnw {
        background-image: url(../img/wind/wnw.png);
        background-image: url(../img/wind/wnw.svg), none;
    }
    &.nw {
        background-image: url(../img/wind/nw.png);
        background-image: url(../img/wind/nw.svg), none;
    }
    &.nnw {
        background-image: url(../img/wind/nnw.png);
        background-image: url(../img/wind/nnw.svg), none;
    }
}