@charset "UTF-8";

// 타이포그래피
$base-font: system-ui, -apple-system, BlinkMacSystemFont, "맑은 고딕", "Malgun Gothic", Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Arial, Dotum, sans-serif;
$base-font-en: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
$base-font-ja: system-ui, -apple-system, BlinkMacSystemFont, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, MS PGothic, sans-serif;
$base-font-zn: Tahoma, Arial, Helvetica, "Microsoft YaHei New", "Microsoft Yahei", "微软雅黑", 宋体, SimSun, STXihei, "华文细黑", sans-serif;
$base-font-size: 12px;
$base-font-weight: 400;
$base-line-height: 1.6;
$base-tracking: -0.03em;
$base-font-color: #161616;

// 색상
$accent: #30a3da;
$border-color: #e3e3e3;
$ui-border-color: #d2d2d2;

// 세부 설정
$radius: 0.25em;